<!-- Web.Config Configuration File -->
<configuration>
    <system.web>
        <customErrors defaultRedirect="/error.htm"
            mode="RemoteOnly"/>
        <httpCookies domain="domain.com"
            httpOnlyCookies="true"
            requireSSL="true" />
    </system.web>
</configuration>
